@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap");

:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;
  --mainText: white;
  --secondaryText: #eee;
  --borderColor: #c1c1c1;
  --themeDotBorder: #fff;
  --previewBg: rgb(25, 39, 52, 0.8);
  --buttonColor: #17a2b8;
}
